* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;

 background-color: rgb(238, 238, 238);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 53, 53);
  height: 370px;
  width: 1365px;
  flex-direction: column;
}
.header p {
  font-size: 3.9em;
  color: white;
  position: relative;
  bottom: 8.9px;
}
.header .line {
  height: 2px;
  width: 198px;
  background-color: white;
  position: relative;
  top: 19px;
}
.first-container {
  background-color: white;
  height: 355px;
  width: 1025px;
  margin: 65px 0px 0px 170px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.first-container span {
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-size: 1.99rem;
  word-spacing: 2px;
  position: relative;
  top: 17px;
  right: 1px;
}
.first-container p {
  word-spacing: -0.2px;
  text-align: center;
  line-height: 25px;
  color: gray;
}
.first-container button {
  border: 1.52px solid black;
  border-radius: 5px;
  height: 48px;
  width: 197px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  word-spacing: 2px;
  font-size: 0.86rem;
  position: relative;
  bottom: 15px;
  background-color: transparent;
}
.second-container {
  width: 1025px;
  margin: 65px 0px 0px 170px;
  height: 539px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.second-container .box-one {
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}
.box-one .pic {
  background-image: url(./images/pic01.jpg);
  height: 240px;
  width: 495px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 5.19px;
  word-spacing: 2px;
}
.box-one p{
  text-align: center;
  font-size: 1rem;
  color: gray;
  line-height: 26px;
  position: relative;
  top: 48px;
  letter-spacing: .1px;
}
.box-one button{
  position: relative;
  top: 80px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1.5px solid black;
  border-radius: 5px;
  letter-spacing: 3px;
}
.second-container .box-two {
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}
.box-two .pic {
  background-image: url(./images/pic02.jpg);
  height: 240px;
  width: 495px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 5.5px;
  word-spacing: 2px;
}
.box-two p{
  text-align: center;
  font-size: 1rem;
  color: gray;
  line-height: 26px;
  position: relative;
  top: 48px;
  letter-spacing: .1px;
}
.box-two button{
  position: relative;
  top: 80px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1.5px solid black;
  border-radius: 5px;
  letter-spacing: 3px;
}
.third-container {
  width: 1025px;
  margin: 65px 0px 0px 170px;
  height: 539px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  bottom: 33.2px;
}
.third-container .box-one {
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}
.third-container .box-two {
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}
.third-container .box-one .pic {
  background-image: url(./images/pic03.jpg);
  height: 240px;
  width: 495px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.28rem;
  letter-spacing: 5.5px;
  word-spacing: 2px;
}
.third-container .box-two .pic {
  background-image: url(./images/pic04.jpg);
  height: 240px;
  width: 495px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.27rem;
  letter-spacing: 5.5px;
  word-spacing: 2px;
}
.footer{
  height: 225px;
  width: 1025px;
  margin: 65px 0px 0px 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer span{
  font-size: 1.9rem;
  letter-spacing: 4.5px;

}
.footer .p1{
  text-align: center;
  color: gray;
  line-height: 20px;
  position: relative; 
  top:19px;
  font-size: 1rem;
  letter-spacing: .1px;

}
.footer .p2{
  text-align: center;
  color: gray;
  line-height: 20px;
  position: relative; 
  top: 9px;
  font-size: 1rem;
  letter-spacing: .1px;

}
.footer .p3{
  text-align: center;
  color: gray;
  line-height: 20px;
  position: relative; 
  bottom: 3px;
  font-size: 1rem;
  letter-spacing: .1px;

}
.footer button{
  border: 1.5px solid black;
  border-radius: 5px;
  width: 200px;
  height: 48px;
  letter-spacing: 3.96px;
  word-spacing: 2px;
  position: relative;
  top: 17px;
  background-color: transparent;

}
.footer-line{
  height: 1.5px;
  background-color: black;
  width: 1025px;
  position: relative;
  top: 98.4px;
}
.blank{
  margin: 65px 0px 0px 170px;
  height: 100px;
  width: 1025px;
  background-color: rgb(238, 238, 238);
}
